<ion-header>
  <ion-navbar>
    <ion-title>
      Listagem de Usuários
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="serchTerm" (ionInput)="setFilteredUsers()">
  </ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let user of users; let i = index">
    <ion-item (click)="viewItem(user)">
      <ion-thumbnail item-left>
        <img [src]="user.picture.medium" alt="Imagem do Usuário">
      </ion-thumbnail>
      <h2>
        {{user.name.first}} {{user.name.last}}
      </h2>
      <p>
        {{user.email}} <br/> {{user.dob | date: "dd/MM/yyyy HH:mm"}}
      </p>
    </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>