<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Perfil do Contato</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-thumbnail item-left>
        <img [src]="user.picture.large" alt="Imagem de Perfil">
      </ion-thumbnail>
  <h2>
    Nome: {{user.name.first}} {{user.name.last}}
  </h2>
  <p>Data de Nascimento: {{user.dob}}</p>
  <p>Telefone: {{user.phone}}</p>
  <p>Celular: {{user.cell}}</p>
  <p>Nacionalidade: {{user.nat}}</p>
  <p>Estado: {{user.location.state}}</p>
  <p>Cidade: {{user.location.city}}</p>
  <p>Rua: {{user.location.street}}</p>
  <p>Identidade: {{user.id.name}}</p>
</ion-content>
